
    <section class="row margin-t20" id="formContainerDiv">
      <div class="column medium-2 hide-for-small-only">&nbsp;</div>
      <div class="column small-12 large-8 text-center">
        
        
        
        <h4 class="text-center border-btm">Contact us by sending message</h4>
        <p class="">We'd love to hear from you. Drop us a line with any feedback or questions and we will get back to you at the earliest.</p>
        <div class="row">
          <div class="columns small-12 medium-6 form-icon no-space">
            <input type="text" id="name" name="name" placeholder="Your name">
            <i class="fi fi-torso"></i>
            <small class="error hide name"></small>
          </div>
          <div class="columns small-12 medium-6 form-icon no-space">
            <input type="email" id="email" name="email" placeholder="Your email address">
            <i class="fi fi-mail"></i>
            <small class="error hide email"></small>
          </div>
          <div class="columns">
            <textarea rows="8" name="description" id="description" placeholder="Please enter your comments"></textarea>
            <small class="error hide description"></small>
          </div>
          <div class="text-center column">
            <a href="javascript:void(0)" id="contactUs" class="button small blue column">Send message</a>
          </div>
          <!--div class="column or-seperator-contact"></div-->
          <div class="column">
            <div class="transulant radius">
              <div class="row collapse">
                <div class="padding-a5 column text-center small-only-text-center">
                  <div>or call us at</div>
                  <i class="fi fi-telephone"></i> : <a href="tel:09899763411">09899763411</a>
                </div>
              </div>
            </div>
        </div>
        </div>

      </div>
      <div class="column medium-2 hide-for-small-only">&nbsp;</div>

    <div class="column medium-2 hide-for-small-only">&nbsp;</div>
  </section>

  <section class="row margin-t20 hide" id="successMessage">
      <div class="column medium-2 hide-for-small-only">&nbsp;</div>
      <div class="column small-12 large-8 text-center">
        <h4 class="text-center border-btm" id="message-header">Your message has been posted</h4>
        <p class="" id="message-content">Thanks for writing to us. We will get back to you soon.</p>
      </div>
      <div class="column medium-2 hide-for-small-only">&nbsp;</div>
  </section>
  
