 <div id="jobDetailModal" class="reveal-modal small" data-reveal aria-hidden="true" role="dialog">
  <h4 class="reveal-heading" style="border-bottom:1px solid #DDD">
    <b>{{jobTitle}}</b>
    <br><br>
  </h4>
  
  <ul class="no-bullet">
    {{#each formattedJobDesc}}
      <li><strong>{{jobLabel}}:</strong> {{jobDesc}}</li>
    {{/each}}
  </ul>
  <a class="close-reveal-modal" aria-label="Close"><em class="icon ic-x ic-close ic-hover"></em></a>
</div>